html,
body {
   height: 100%;
   margin: 0;
   background-color: rgb(188, 238, 238);
}

.outer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.centred {
   text-align: center;
}

input[type="text"],
button {
   margin: 5px;
   padding: 10px;
   font-size: 36px;
   border-radius: 20px;
}

.res {
   display: grid;

}

.button-menu {
   background-color: rgb(248, 225, 182);
   min-width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.calculator {
   max-width: 540px;
   background-color: #464e55;
   border-radius: 5%;
   height: 480px;
}

#history,
#result {
   background-color: rgba(240, 255, 255, 0.068);
   border: none;
}

.button-num {
   background-color: linear-gradient(120deg, #464e55 0%, #292929 100%);
   min-width: 85px;
   min-height: 80px;
   margin-top: 20px;
}

button {
   background-color: gainsboro;
   border: none;
   border-radius: 20%;
   margin: 5px;
   padding: 20px;
   text-align: center;
   align-items: center;
}

#list {
   display: flex;
   column-gap: 20px;
}

#num1,
#num2 {
   max-width: 300px;
}

@media (max-width:600px) {
   .calculator {
      max-width: 400px;
      max-height: 450px;
   }

   .button-menu {
      min-width: 40px;
      max-width: 40px;
      height: 20px;
      font-size: 20px;
      font-weight: bold;
   }

   .button-num {
      min-width: 65px;
      width: 40px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
   }

   #history,
   #result {
      width: 370px;
   }
}

@media (max-width:375px) {
   .calculator {
      max-width: 300px;
      max-height: 410px;
      padding: 10px;
   }

   #history,
   #result {
      width: 230px;
      height: 28px;
   }

   #result {
      margin-bottom: 10px;
   }

   .button-menu {
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 15px;
   }

   .list {
      column-gap: 10px;
      align-items: center;
      justify-content: center;
   }

   .button-num {
      min-width: 55px;
      width: 50px;
      min-height: 60px;
      height: 0px;
      font-size: 20px;
      font-weight: bold;
      padding: 0;
   }


}